.form-section {
    background: #00BAFC;
    margin-top: 56px;
}

.form-container {
    padding-top: 56px;
    padding-bottom: 64px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 16px;
}

.form-container>h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.form-container>p {
    width: 719px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.form-container>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 16px;
    background: #FFFFFF;
    border-radius: 5px;
}

.form-container>form:hover {
    transition: 0.3s;
    background: #191919;
}

.form-container>form>label>input {
    width: 300px;
  padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    background: #F3F3F3;
    border-radius: 5px;
    border: none; 
}

.form-container>form>label>input::placeholder {
    flex: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.form-select {
    width: 300px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 14px;
    background: #F3F3F3;
    border-radius: 5px;
    border: none;
     font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #000000;
}

.form-button {
    padding: 8px 16px;
    background: #00BAFC;
border-radius: 5px;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
border: none;
}

.form-button:hover {
    transition:0.4s;
    background: #0707e1;
    cursor: pointer;
}
